/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
/* #include "combos.dtsi" */
#include "homerow.dtsi"
/* #include "definitions.dtsi" */

// layers
#define MAIN 0
#define SYM 1
#define NUM 2
/* #define ACC 3 */
#define NAV 3

//homerow
#define HM_A &hm_asemi LGUI A
#define HM_S &hm_sl LALT S
#define HM_D &hm_dk LCTRL D
#define HM_F &hm_fj LSHFT F
#define HM_G &hm_gh ACC G
#define HM_SEMI &hm_asemi LGUI SEMI
#define HM_L &hm_sl LALT L
#define HM_K &hm_dk LCTRL K
#define HM_J &hm_fj LSHFT J
#define HM_H &hm_gh ACC H

//bluetooth
#define BT0 &bt BT_SEL 0 
#define BT1 &bt BT_SEL 1 
#define BT2 &bt BT_SEL 2 
#define BT3 &bt BT_SEL 3 
#define BT4 &bt BT_SEL 4 


/ {
    combos {
        compatible = "zmk,combos";

        combo_bspc {
            timeout_ms = <50>;
            key_positions = <17 18>;
            bindings = <&kp BSPC>;
        };

        combo_sqt {
            timeout_ms = <50>;
            key_positions = <27 28>;
            bindings = <&kp SQT>;
        };

        combo_ret {
            timeout_ms = <50>;
            key_positions = <28 29>;
            bindings = <&kp RET>;
        };

        combo_esc {
            timeout_ms = <50>;
            key_positions = <13 14>;
            bindings = <&kp ESC>;
        };

        combo_cc {
            timeout_ms = <50>;
            key_positions = <23 24>;
            bindings = <&kp LC(C)>;
        };
    };
};

/ {
    behaviors {
        hm_asemi: homerow_mods {
        compatible = "zmk,behavior-hold-tap";
        label = "HOMEROW_MODS";
        #binding-cells = <2>;
        tapping-term-ms = <220>;
        quick_tap_ms = <0>;
        flavor = "tap-preferred";
        bindings = <&kp>, <&kp>;
        };

        hm_sl: homerow_mods {
        compatible = "zmk,behavior-hold-tap";
        label = "HOMEROW_MODS";
        #binding-cells = <2>;
        tapping-term-ms = <220>;
        quick_tap_ms = <0>;
        flavor = "tap-preferred";
        bindings = <&kp>, <&kp>;
        };

        hm_dk: homerow_mods {
        compatible = "zmk,behavior-hold-tap";
        label = "HOMEROW_MODS";
        #binding-cells = <2>;
        tapping-term-ms = <170>;
        quick_tap_ms = <0>;
        flavor = "tap-preferred";
        bindings = <&kp>, <&kp>;
        };

        hm_fj: homerow_mods {
        compatible = "zmk,behavior-hold-tap";
        label = "HOMEROW_MODS";
        #binding-cells = <2>;
        tapping-term-ms = <150>;
        quick_tap_ms = <0>;
        flavor = "tap-preferred";
        bindings = <&kp>, <&kp>;
        };

        hm_gh: homerow_mods {
        compatible = "zmk,behavior-hold-tap";
        label = "HOMEROW_MODS";
        #binding-cells = <2>;
        tapping-term-ms = <160>;
        quick_tap_ms = <0>;
        flavor = "tap-preferred";
        bindings = <&mo>, <&kp>;
        };
    };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
&kp Q &kp W &kp E &kp R &kp T    &kp Y &kp U  &kp I     &kp O   &kp P
   HM_A  HM_S  HM_D  HM_F  &kp G    &kp H HM_J   HM_K      HM_L    HM_SEMI 
   &kp Z &kp X &kp C &kp V &kp B    &kp N &kp M  &kp COMMA &kp DOT &kp FSLH
          &mo SYM &kp TAB &kp LC(C) &kp K_PP &kp SPACE &mo NUM 
                        >;
                };

                sym_layer {
                        bindings = <
   &trans       &trans     &kp EQUAL &trans    &kp DQT    &kp PIPE &kp HASH  &kp LBRC &kp RBRC  &trans
   &trans       &kp TILDE  &kp STAR  &kp GRAVE &kp SQT    &kp AT   &kp EXCL  &kp LBKT &kp RBKT  &kp DLLR
   &trans       &trans     &kp PRCNT &kp CARET &kp MINUS  &kp AMPS &kp MINUS &kp LPAR &kp RPAR  &kp BSLH
                           &trans    &trans    &trans     &trans   &kp UNDER &mo NAV
                        >;
                };

                num_layer {
                        bindings = <
   &kp F9    &kp F10   &kp F11   &kp F12   &trans      &trans    &kp N7    &kp N8     &kp N9   &trans  
   &kp F5    &kp F6    &kp F7    &kp F8    &trans      &kp PLUS  &kp N4    &kp N5     &kp N6   &kp N0  
   &kp F1    &kp F2    &kp F3    &kp F4    &trans      &trans    &kp N1    &kp N2     &kp N3   &kp DOT 
                       &mo NAV   &trans    &trans      &trans    &trans    &trans  
                        >;
                };

/*                 accents_layer { */
/*                         bindings = < */
/*    &trans    &trans    &e_acute  &e_grave  &trans      &ded_uml  &u_grave  &i_circu   &o_circu &trans */
/*    &a_grave  &a_circu  &e_circu  &trans    &trans      &ded_cir  &trans    &trans     &trans   &trans */   
/*    &trans    &trans    &c_cdila  &trans    &trans      &trans    &trans    &trans     &trans   &trans */   
/*                        &trans    &trans    &trans      &trans    &trans    &trans */   
/*                         >; */
/*                 }; */

                nav_layer {
                        bindings = <
   BT0        BT1        BT2        BT3       &bt BT_CLR  &kp HOME  &kp PG_DN &kp PG_UP &kp END   &trans   
   &kp LGUI   &kp LALT   &kp LCTRL  &kp LSHFT    &trans      &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT &trans  
   &trans     &trans     &trans     &trans    &trans      &trans    &trans    &trans    &trans    &trans  
                         &trans     &trans    &trans      &trans    &trans    &trans  
                        >;

                };

        };
};
